<h1>Employee Competency</h1>
<p> User Name </p>
<%= "#{@employee.first_name} #{@employee.last_name}" %>
<br><br>
<table>
	<tr>
		<th>Product Name</th>
		<th>Competency Level</th>
		<th>Edit</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.product_name %></td>
		<td><%= show_competency_level(product.id,@employee) %></td>
		<td><%= link_to 'Edit', edit_user_emp_competency_path(@employee.id,product.id) %> </td>
	</tr>
	<%end%>
</table>

<p>
<% if current_user.has_role? :manager %>
	<%= link_to 'Back to list', mgr_competencies_path%>
<%end%>
</p>